<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <!-- <ion-icon name="menu"></ion-icon> -->
      <ion-icon src="/assets/icons/overview.svg"></ion-icon>
      <ion-label>Overview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="syllabus">
      <!-- <ion-icon name="paper-plane"></ion-icon> -->
      <!-- <ion-icon name="information-circle" md="information-circle"></ion-icon> -->
      <ion-icon src="/assets/icons/syllabus.svg"></ion-icon>
      <ion-label>Syllabus</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tests">
      <!-- <ion-icon name="person-circle"></ion-icon> -->
      <!-- <ion-icon name="pencil"></ion-icon> -->
      <ion-icon src="/assets/icons/tests.svg"></ion-icon>
      <ion-label>Tests</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
