<ion-header class="app-header" [translucent]="true">
  <ion-toolbar>
    <!-- <ion-img class="menu-icon__img" [src]="'assets/App_logo.svg'" slot="start"></ion-img> -->
    <ion-img class="menu-icon__img" [src]="logoUrl || 'assets/App_logo.svg'" onerror="'src=/assets/App_logo.svg'" slot="start" (click)="navRoot()"></ion-img>
    <ion-title class="app-header__title">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-button (click)="popToggle($event)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>