<app-header title="Accelerated Learning"></app-header>

<ion-content [fullscreen]="true">
  <app-content-container name="Syllabus">

    <div class="container">
      <ion-row class="md hydrated">
        <ion-col size="2" ng-reflect-size="2" class="md hydrated"
          style="flex: 0 0 calc(calc(2 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(2 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);">
          <ion-icon src="/assets/icons/syllabus.svg" style="font-size: 60px;"></ion-icon>
        </ion-col>
        <ion-col size="10" ng-reflect-size="10" class="md hydrated"
          style="flex: 0 0 calc(calc(10 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(10 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(10 / var(--ion-grid-columns, 12)) * 100%);">
          <ion-text class="md hydrated">
            <h1 class="heading">Syllabus</h1>
            <hr>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="md hydrated">
        <ion-col size="12" ng-reflect-size="12" class="md hydrated"
          style="flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);">
          <div class="col-4">
            <h2>About These Flashcards</h2>
            <p>If you need help recalling business concepts, then open up this collection of flashcard sets to start
              going over related topics. The flashcard sets may ask you to identify a full range of business-related
              items, such as definitions, key terms, concepts, graphic images, and more. Some of the topics addressed
              in this collection of flashcards include:</p>
            <ul>
              <li>Marketing</li>
              <li>Employee performance</li>
              <li>Accounting</li>
              <li>Many more business topics!</li>
            </ul>
            <p>&nbsp;</p>
            <p><strong>Using Flashcards</strong></p>
            <p>&nbsp;</p>
            <h2>How Flashcards Help</h2>
            <ul>
              <li><strong>Student engagement:</strong> Provides a more interactive way to learn about vocabulary terms
                and practices used in marketing.</li>
              <li><strong>Additional resources:</strong> Search for related business lessons on the site to view a
                short lesson in order to get context and detail for each flashcard topic.</li>
              <li><strong>Information retention:</strong> Repetition can help you remember definitions, standards,
                formulas, and reporting practices common to business accounting topics.</li>
            </ul>
            <p>&nbsp;</p>
            <p><strong>How They Work</strong></p>
            <p>&nbsp;</p>
            <h2>How They Work</h2>
            <p>Using our collection of flashcards will save you time, since all the important information about
              business has already been gathered and put into these ready-to-use memorization tools.</p>
            <ul>
              <li>Go to a chapter that covers the business topics you need to learn.</li>
              <li>Open a flashcard set for the topic you're studying.</li>
              <li>Identify the term, concept, or business principle on the flashcard.</li>
              <li>Click the button to flip the card and view the answer.</li>
              <li>Select whether you got it right or missed it to keep track of your progress.</li>
              <li>Click the Next arrow to proceed through the flashcard set.</li>
              <li>Review the cards you missed or shuffle all cards back in and go through them again.</li>
            </ul>
          </div>
        </ion-col>
      </ion-row>

    </div>
  </app-content-container>
</ion-content>