@use './variables.scss';

body {
  font-family: var(--ion-font-family);
  --font-family: var(--ion-font-family);
  font-size:15px;
  font-weight:700;
  letter-spacing:0.45px;
  text-size-adjust: none;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  touch-action: manipulation;
}

app-tests,
app-overview,
app-syllabus,
app-about-modal,
app-imprint-modal,
app-data-privacy-modal
{
  .container {
    padding: 1rem !important;
  }
}

.app-header { 
  --header-color: #424242;
  font-family: 'Roboto', sans-serif;
  .app-header__title {

    font-size: 1.5rem;
    text-align: center;
    font-stretch: condensed;
    color: var(--header-color);
  }
  
  .menu-icon__img {
    --height: 100px;
    height: 30px;
    margin: 10px;
    border-right: 1px solid #ccc;
    width: 56px;
  }
  
}

@media screen and (max-width: 360px) {
  .app-header {
    .app-header__title {
      font-size: 1.2rem;
    }
  }
}

// .app-menu__popover {
//   .popover-content {
//     position: absolute;
//     top: 1rem;
//     right: 1rem;
//   }
// }


// app-tabs {
//   ion-tab-bar {
//     ion-tab-button {
//       max-width: 10rem;
//       max-height: 2.5rem;
//       margin: 10px;
//       border-top-left-radius:  .5rem;
//       border-top-right-radius: .5rem;
//       --color: white;
//       --width: 1rem;
//       --background: #a0bbc5;

//       .button-native {
//         color: white !important;
//         --color: white !important;
//       }
//       .button-inner {
//         --color: white !important;
//         color: white !important;
//       }

//       &.tab-selected {
//         --background: #63657a;
//         --color: var(--ion-color-success-contrast);

        
//         .button-native {
//           color: var(--ion-color-success-contrast);
//           --color: white !important;
//         }
//         .button-inner {
//           --color: var(--ion-color-success-contrast);
//           color: white !important;
//         }
        

//         &:after {
//           content: '';
//           position: absolute;
//           top: 2.2rem;
//           width: 0;
//           height: 0;
//           border-left: 5px solid transparent;
//           border-right: 5px solid transparent;
//           border-bottom: 0.8rem solid white;
//         }
//       }
//     }
//   }
// }