<app-header title="Accelerated Learning"></app-header>

<ion-content [fullscreen]="true">
  <app-content-container name="Tests">
    <div class="container">

      <ion-row class="marginTop">
        <ion-col class="ion-text-right" size="4">
          <ion-icon class="IconSize" name="create"></ion-icon>
        </ion-col>
        <ion-col class="ion-text-left" size="8" style="display: flex;justify-content: space-evenly;align-items: center;">
          <ion-label class="textLabel">Practice Tests</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="box marginTop">
        <ion-col class="ion-text-center" size="12">
          Business Flashcards </ion-col>
        <ion-col class="ion-text-center" size="12">
          <ion-icon class="IconSize" name="apps"></ion-icon>
        </ion-col>
        <ion-col class="ion-text-center" size="12">
          No Test available </ion-col>
      </ion-row>

    </div>

  </app-content-container>
</ion-content>