<app-header title="Accelerated Learning"></app-header>

<ion-content fullscreen="true">
  <app-content-container name="Overview">
    <div class="container">

      <ion-item>
        <ion-card-title class="big">
          {{overviewTextContent.subtitle}}
        </ion-card-title>

        <ion-button slot="end" fill="outline">
          First Set
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-card-subtitle>
          {{overviewTextContent.title}}
        </ion-card-subtitle>
      </ion-item>

      <ion-card-content>
        {{overviewTextContent.description}}
      </ion-card-content>

      <accord-simple-accordion [accordionList]="accordItems" [accordionStyling]="accordStyling" openSign="assets/icons/plus.png" closeSign="assets/icons/minus.png"></accord-simple-accordion>

    </div>
  </app-content-container>
</ion-content>